body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    background-color: #ffffff;
}

.header {
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    margin: 92px 50px 96px 50px;
    
}

.header_logo {
    width: 148px;
    height: 105px;
}
.header_logl-image {
    width: 148px;
    height: 105px;
}
.header_menu {
    display: flex;
    gap: 34px;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}
.header_menu-link-item {
    text-decoration: none;
    border-bottom: 1px solid #000000;
}              

.header_links-list-item {
    list-style: circle;  
}

.header_links-list-item_no-bullit {
    list-style: none;
}
.header_link-menu_active {
    text-decoration: none;
}

.address {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 184px;
    
}

.cover {
    min-height: 757px;
    position: relative;
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    z-index: 1;
}

.cover_title {
    position: relative;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    letter-spacing: 30px;
    line-height: 114.99999999999999%;
    font-weight: 700;
    font-size: 100px;
    color:#ffffff;
    z-index: 2;
}

.title-size {
    width: 1000px;
    padding-top: 165px;
}
.aligned-text {
    display: block;
}
.aligned-text-left {
    margin-left: 50px;
}
.aligned-text-center {
    padding-top: 20px;
    margin-left: 380.5px;
    margin-bottom: 20px;
}
.aligned-text-right {
    padding-left: 663px;
}

.no-letter-spacing {
    letter-spacing: 0px;
}

.cover_description {
    position: relative;
    z-index: 2;
    width: 1000px;
    margin-top: 106px;
    margin-left: 50px;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.space_one {
    letter-spacing: 20px;
}
.space_two {
    letter-spacing: 23px;
}
.space_three {
    letter-spacing: 25px;
}
.space_four {
    letter-spacing: 18px;
}
.cover_description-text {
    font-family: 'Raleway', sans-serif;
    width: 637px;
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    white-space: nowrap;
}
.bet-button {
    height: 51px;
    padding: 12px 32px 11px 31px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff;
    color:#ffffff;
    white-space: nowrap;
    font-weight: 500;
    font-size: 22px;
    line-height: 100%;
    text-transform: uppercase;
}

.lots {
    margin-top: 176px;
    padding-left: 24px;
    padding-right: 24px;
}
.lots_heading {
    margin-left: 40px;
    margin-bottom: 27px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 40px;
}
.lots_card-list {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    gap: 25px;
    list-style-type: none;
}
.lots_card-list-item {
    width: 100%;
    max-width: 334px;
    min-height: 596px;
    position: relative;
}
.back-ground_set {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.card-link {
    margin-top: 48px;
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
}
.article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.card_type_film {
    background-image: url('../images/card-lot-01.jpg');
}
.card_type_book {
    background-image: url('../images/card-lot-02.jpg');
}
.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');
}
.card_title {
    display: block;
    color: #fff;
    font-weight: 700;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 120%;
    margin: 48px 40px 0px 40px;
}
.card_text {
    display: block;
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}
.position_card_text_film {
    margin: 274px 40px 48px 40px;
}
.position_card_text_book {
    margin: 30px 40px 48px 40px;
}
.position_card_text_picture {
    margin: 126px 40px 48px 40px;
}
    
.lots_look-more-link {
    display: inline-block;
    margin: 32.5px 102px 0px 40px;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.about {
    width: 100%;
    max-width: 1052px;
    margin: 155px 24px 175px 24px ;
}
.about_column {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
}
.about_logo {
    margin-left: 47px;
    width: 240px;
    height: 240px;
    display:flex;
    justify-content: center;
    align-items: center;
    justify-self: start;
    background-color: #000000;
    border-radius: 50%;

}
.about_logo-image {
    width: 148px;
    height: 114px;

}
.about_title {
    font-weight: 700;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 101px;
    margin-left: 10px;
    grid-column: 2;
    grid-row: 1;
}
.top_px {
    margin-top: 246px;
}
.about_text {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    height: 100%;
    max-width: 693px;
    display: grid;
    gap: 30px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    margin-left: 10px;
}

.footer {
    width: 1100px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 180px;
}
.footer .address {
    justify-self: start;
    margin-left: 50px;
}
.footer_social-icon {
    width: 48px;
    height: 48px;
}
.footer_social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
    padding-top: 1px;
    justify-self: end;
}
.footer_menu {
    margin-top: 1px;
    padding-left: 50px;
    font-weight: 400px;
    font-size: 18px;
    line-height: 100%
}
.footer_menu-link_active {
    text-decoration: none;
}
.footer_menu-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-align: center;
}